.search-car-wrapper{
    position: relative;
}

.search-car{
    max-width: 1047px;
    margin: 0 auto;
    height: 106px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    bottom: 50px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.1);
}

.search-car form{
    width: 100%;
}

.form-label{
    font-size: 12px;
    font-weight: 300;
    color: #3C3C3C;
    font-family: 'Rubik', sans-serif;
}

.form-control-custom::placeholder{
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    font-family: 'Rubik', sans-serif;
}

.form-control-custom-select.form-select{
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
}

.custom-select-option{
    padding: 10px 12px;
}

.search-button{
    padding: 9px 12px;
    background-color: #5CB85F;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.align-items-end .col {
    display: flex;
    flex-direction: column;
}

.col-md-1{
    width: 12%;
}